{
  "ui":false,
  "retry_join": [
    "provider=k8s label_selector=\"app=consul,component=server\" kubeconfig=/etc/kube/kube_config.conf
  ],
  "disable_remote_exec": true,
  "domain": "consul.",
  "data_dir": "/opt/consul/data",
  "dns_config": {
    "allow_stale": false,
    "max_stale": "5s",
    "node_ttl": "0s",
    "service_ttl": {
      "*": "0s"
    },
    "enable_truncate": false,
    "only_passing": false
  },
  "log_level": "INFO",
  "server": false,
  "datacenter": "production",
  "ports": {
    "dns": 8600,
    "http": 8500,
    "https": -1,
    "serf_lan": 8301,
    "serf_wan": 8302,
    "server": 8300
  },
  "rejoin_after_leave": true,
  "leave_on_terminate": true,
  "raft_protocol": 3,
  "disable_update_check": false
}
